body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

input:focus-visible {
  outline-color: #764abc;
}

input, select {
  padding: 3px;
  width: 200px;
}

.content-wrap {
    width: 100%;
    padding: 0 100px;
}

table {
  text-align: center;
  box-shadow: 0 5px 7px 4px #e6e6e6;
  width: 100%;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}

table thead {
  border-radius: 10px;
}

table thead tr th{
  background-color: #d9c3de;
  padding: 1rem;
}

table tbody tr:nth-child(even) {
  background-color: #FAF7FF;
}

table th {
  cursor: pointer;
}

table tr td {
  padding: 1rem 1.5rem;
}

.common-section {
  margin: 0 auto;
  width: 1280px;
  padding: 0 150px;
}

.row {
  display: -webkit-flex;
}

.button {
  float: right;
  cursor: pointer;
  padding: 0.6rem 2rem;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(118, 74, 188);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn-small {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  border: 2px solid #764abc;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  margin: 0 5px;
}

.btn-small:hover {
  color: #000;
  border: 2px solid #764abc;
  background-color: #d9c3de;
}

.hide {
  display: none;
}

.rdrDateDisplayWrapper {
  display: none;
}

.info-left-detail{
  display: -webkit-flex;
  margin-bottom: 1rem;
}

.info-left-detail span{
  flex: 1;
}

.info-left-detail div {
  flex: 2;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  z-index: 1001;
}

.modal {
  position: relative;
  opacity: 1;
  z-index: 1002;
  min-width: 300px;
  background-color: #fff;
  padding: 2rem;
}

.modal-close {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  color: #764abc;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.form-column {
  display: -webkit-flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.alert {
  text-align: center;
  border-radius: 10px;
}

.alert-confirm {
  color: #764abc;
  background-color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.alert-confirm:hover {
  cursor: pointer;
}